.logo {
    width: 90%;
    display: block;
    margin: 20px auto;
}

.text-muted {
    color: var(--text_muted);
}

.text-danger {
    color: var(--dynamic_red);
}

.hm-warning {
    text-align: center;
    margin: 0;
}

.time {
    margin: 0;
    text-align: center;
    font-size: 57pt;
    font-weight: bold;
}

.date {
    margin: 0;
    text-align: center;
}